[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-index = "*"
streamlit = "*"
pypdf = "*"
docx2txt = "*"
langchain-community = "*"
wikipedia = "*"
llama-index-readers-wikipedia = "*"

[dev-packages]

[requires]
python_version = "3.12"
